.top-nav{
  height: 18vh;
}
.top-nav-img{
  background-image: url('https://image.spreadshirtmedia.com/image-server/v1/mp/designs/1012692668,width=178,height=178/king-crown-logo.png');
  background-size: cover;
  height: 18vh;
}
.brand-img{
  background-image: url('https://cdn8.bigcommerce.com/s-ec3t5d56yg/product_images/theme_images/CrownMapleCore_Gift.jpg?t=1522678191');
  height: 90vh;
  background-size: cover;
}
.bg-who{
  background-color: #231F20;
  height: 45vh;
}
.h1-button{
  display: inline;
}
.button-edit{
  margin-top: -21px;
  margin-left: 25px;
}
